---
layout: default
title: Bem vindo
active: inicio
---

<!-- Slider Start-->
<div class="fullwidthbanner-container">
  <div class="fullwidthbanner rslider">
    <ul>
      <!-- THE FIRST SLIDE -->
      <li data-delay="6000" data-masterspeed="300" data-transition="fade">
        <div class="slotholder">
          <img
            src="{{ site.baseurl }}/img/slider/slider-bg-1.jpg"
            data-fullwidthcentering="on"
            alt="Pixma"
          />
        </div>
        <div
          class="caption modern_big_bluebg h1 lft tp-caption start"
          data-x="40"
          data-y="85"
          data-speed="700"
          data-endspeed="800"
          data-start="1000"
          data-easing="easeOutQuint"
          data-endeasing="easeOutQuint"
        >
          <h3>Consultoria Wave</h3>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="1400"
          data-speed="1050"
          data-y="180"
          data-x="40"
        >
          <div class="list-slide">
            <i class="fa fa-camera slide-icon"></i>
            <h5 class="dblue">Nota 5 Avaliação de Consumidor Google</h5>
          </div>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="1800"
          data-speed="1200"
          data-y="220"
          data-x="40"
        >
          <div class="list-slide">
            <i class="fa fa-search slide-icon"></i>
            <h5 class="dblue">+ de 80 laudos</h5>
          </div>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="2200"
          data-speed="1350"
          data-y="260"
          data-x="40"
        >
          <div class="list-slide">
            <i class="fa fa-code slide-icon"></i>
            <h5 class="dblue">+ de 40 projetos</h5>
          </div>
        </div>
        <div
          class="caption lfb caption_button_1 fadeout tp-caption start"
          data-x="40"
          data-y="330"
          data-speed="900"
          data-endspeed="300"
          data-start="2700"
          data-hoffset="-70"
          data-easing="easeOutExpo"
        >
          <a class="btn-special hidden-xs btn-grey" href="#">Learn More</a>
        </div>
        <div
          class="caption lfb caption_button_2 fadeout tp-caption start"
          data-x="210"
          data-y="330"
          data-speed="800"
          data-endspeed="300"
          data-start="2900"
          data-hoffset="70"
          data-easing="easeOutExpo"
        >
          <a class="btn-special hidden-xs btn-color" href="#">Buy Now</a>
        </div>
      </li>
      <!-- THE RESPONSIVE SLIDE -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
        <img
          src="{{ site.baseurl }}/img/slider/slider-bg-2.jpg"
          data-fullwidthcentering="on"
          alt=""
        />
        <div
          class="caption large_text sft"
          data-x="660"
          data-y="54"
          data-speed="300"
          data-start="800"
          data-easing="easeOutExpo"
        >
          TOUCH ENABLED
        </div>
        <div
          class="caption medium_text sfl"
          data-x="689"
          data-y="92"
          data-speed="300"
          data-start="1100"
          data-easing="easeOutExpo"
        >
          AND
        </div>
        <div
          class="caption large_text sfr"
          data-x="738"
          data-y="88"
          data-speed="300"
          data-start="1100"
          data-easing="easeOutExpo"
        >
          <span class="dblue">RESPONSIVE</span>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="1400"
          data-speed="1050"
          data-y="180"
          data-x="660"
        >
          <div class="list-slide">
            <i class="fa fa-eye slide-icon"></i>
            <h5>Retina Ready</h5>
          </div>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="1800"
          data-speed="1200"
          data-y="220"
          data-x="660"
        >
          <div class="list-slide">
            <i class="fa fa-table slide-icon"></i>
            <h5>Responsive pricing tables</h5>
          </div>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="2200"
          data-speed="1350"
          data-y="260"
          data-x="660"
        >
          <div class="list-slide">
            <i class="fa fa-check slide-icon"></i>
            <h5>Crossbrowser Compatible</h5>
          </div>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="2600"
          data-speed="1350"
          data-y="300"
          data-x="660"
        >
          <div class="list-slide">
            <i class="fa fa-twitter slide-icon"></i>
            <h5>Twitter 1.1 API Support</h5>
          </div>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="3000"
          data-speed="1350"
          data-y="340"
          data-x="660"
        >
          <div class="list-slide">
            <i class="fa fa-th slide-icon"></i>
            <h5>Bootstrap Framework</h5>
          </div>
        </div>
        <div
          class="caption lfl"
          data-x="53"
          data-y="30"
          data-speed="300"
          data-start="1400"
          data-easing="easeOutExpo"
        >
          <img
            src="{{ site.baseurl }}/img/slider/responsive-imac.png"
            alt="iMac Responsive"
          />
        </div>
        <div
          class="caption lfl"
          data-x="323"
          data-y="145"
          data-speed="300"
          data-start="1500"
          data-easing="easeOutExpo"
        >
          <img
            src="{{ site.baseurl }}/img/slider/responsive-ipad.png"
            alt="iPad Responsive"
          />
        </div>
        <div
          class="caption lfl"
          data-x="472"
          data-y="253"
          data-speed="300"
          data-start="1600"
          data-easing="easeOutExpo"
        >
          <img
            src="{{ site.baseurl }}/img/slider/responsive-iphone.png"
            alt="iPhone Responsive"
          />
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Slider End-->

<!-- Slogan Start-->
<div class="slogan bottom-pad-small">
  <div class="container">
    <div class="row">
      <div class="slogan-content">
        <div class="col-lg-9 col-md-9">
          <h2 class="slogan-title">Conforto Acústico é o nosso compromisso</h2>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="get-started">
            <button class="btn btn-special btn-color pull-right">
              Entre em contato agora
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- Slogan End-->

<!-- Main Content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
        <div class="content-box ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-arrows-alt"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-arrows-alt"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Consultoria</h3>
            <p>Consultoria de Projetos Acústicos</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
        <div class="content-box ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-eye"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-eye"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Projeto</h3>
            <p>Projeto de Isolamento e Condicionamento Acústico</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
        <div class="content-box ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-edit"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-edit"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Laudo</h3>
            <p>Laudo de Ruído Ambiental/ Poluição Sonora</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-leaf"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-leaf"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Avaliação</h3>
            <p>Avaliação Acústica de Ambientes</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-cog"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-cog"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Material Acústico</h3>
            <p>Avaliação e Desenvolvimento de Materiais Acústicos</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-search"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>SEO Ready</h3>
            <p>
              Lorem Ipsum is simply dummy text of Lorem the printing and
              typesettings.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Content end-->

<!-- Recent works start-->
<div class="recentworks bottom-pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 animate_afl d1">
        <div class="portfolio-desc">
          <h3 class="title">Trabalhos Recentes</h3>
          <p>
            Alguns trabalhos recentes.
          </p>
          <div class="carousel-controls">
            <a class="prev" href="#portfolio-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="next" href="#portfolio-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="row">
          <div id="portfolio-carousel" class="portfolio-carousel slide">
            <div class="carousel-inner">
              <div class="item active">
				{% include portifolio_0.html %}
              </div>
			  <div class="item">
				{% include portifolio_1.html %}
              </div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Recent work end-->

<!-- Latest Posts start -->
<div class="latest-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
        <h3 class="title">Vídeos</h3>
      </div>
      <div class="clearfix"></div>
      <div class="blog-showcase col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1">
		{% include videos.html %}
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</div>
<!-- Latest Posts End -->

<!-- Our Clients Start-->
<div class="our-clients">
  <div class="container">
    <div class="row">
      <div class="client">
        <div class="client-logo">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="clients-title">
              <h3 class="title">Nossos Clientes</h3>
              <!-- <div class="carousel-controls pull-right">
								<a class="prev" href="#client-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
								<a class="next" href="#client-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
								<div class="clearfix"></div>
							</div> -->
            </div>
            <div class="clearfix"></div>
            <div class="row">{% include clientes.html %}</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- Testimonials Widget Start -->
            <div class="row">{% include avaliacoes.html %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Clients End -->
