---
layout: default
title: Bem vindo
active: inicio
---

<!-- Slider Start-->
<div class="fullwidthbanner-container">
  <div class="fullwidthbanner rslider">
    <ul>
      {% for slide in site.data.slides %}
      <li data-delay="6000" data-masterspeed="300" data-transition="fade">
        <div class="slotholder">
          <img
            src="{{ slide.secure_url }}"
            data-fullwidthcentering="on"
            alt="{{ slide.public_id }}"
          />
        </div>
        <div
          class="caption modern_big_bluebg h1 lft tp-caption start"
          data-x="40"
          data-y="85"
          data-speed="700"
          data-endspeed="800"
          data-start="1000"
          data-easing="easeOutQuint"
          data-endeasing="easeOutQuint"
        >
          <h3>Consultoria Wave</h3>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="1400"
          data-speed="1050"
          data-y="180"
          data-x="40"
        >
          <div class="list-slide">
            <i class="fa fa-check slide-icon"></i>
            <h5>Nota 5,0 em Avaliações de Consumidores - Google</h5>
          </div>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="1800"
          data-speed="1200"
          data-y="220"
          data-x="40"
        >
          <div class="list-slide">
            <i class="fa fa-check slide-icon"></i>
            <h5>Realizamos + de 80 Laudos de Ruído Ambiental</h5>
          </div>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="2200"
          data-speed="1350"
          data-y="260"
          data-x="40"
        >
          <div class="list-slide">
            <i class="fa fa-check slide-icon"></i>
            <h5>Realizamos + de 30 Projetos Acústicos</h5>
          </div>
        </div>
        <div
          class="caption list_slide lfb tp-caption start"
          data-easing="easeOutExpo"
          data-start="2200"
          data-speed="1350"
          data-y="300"
          data-x="40"
        >
          <div class="list-slide">
            <i class="fa fa-check slide-icon"></i>
            <h5>Realizamos + de 40 Consultorias</h5>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- Slider End-->

<!-- Slogan Start-->
<div class="slogan bottom-pad-small">
  <div class="container">
    <div class="row">
      <div class="slogan-content">
        <div class="col-lg-9 col-md-9">
          <h2 class="slogan-title">Conforto Acústico é o nosso compromisso</h2>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="get-started">
            <a href="{{ site.baseurl }}/contato" class="btn btn-special btn-color pull-right">
              Entre em contato agora
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- Slogan End-->

<!-- Main Content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      {% for servico in site.data.servicos %}
      <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
        <div class="content-box ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-{{ servico.icone }}"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-{{ servico.icone }}"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>{{ servico.titulo }} </h3>
            <p>{{ servico.descricao }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Main Content end-->

<!-- Recent works start-->
<div class="recentworks bottom-pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 animate_afl d1">
        <div class="portfolio-desc">
          <h3 class="title">Trabalhos Recentes</h3>
          <p>
            Confira algumas imagens dos nossos projetos desenvolvidos para diversos tipos de ambientes: auditório, sala de
            mixagem, estúdio musical, rádios e sala de vídeo-conferência.
          </p>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="row">
          <div id="portfolio-carousel" class="portfolio-carousel slide">
            <div class="carousel-inner">
              <div class="item active">
				        {% include portifolio_0.html %}
              </div>
			        <div class="item">
				        {% include portifolio_1.html %}
              </div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Recent work end-->

<!-- Latest Posts start -->
<div class="latest-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
        <h3 class="title">Vídeos</h3>
      </div>
      <div class="clearfix"></div>
      <div class="blog-showcase col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1">
		    {% include videos.html %}
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</div>
<!-- Latest Posts End -->

<!-- Our Clients Start-->
<div class="our-clients">
  <div class="container">
    <div class="row">
      <div class="client">
        <div class="client-logo">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="clients-title">
              <h3 class="title">Nossos Clientes</h3>
            </div>
            <div class="clearfix"></div>
            <div class="row">{% include clientes.html %}</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- Testimonials Widget Start -->
            <div class="row">{% include avaliacoes.html %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Clients End -->
