<!-- Our Clients Start-->
<div class="our-clients">
    <div class="container">
      <div class="row">
        <div class="client">
          <div class="client-logo">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
              <div class="clients-title">
                <h3 class="title">Nossos Clientes</h3>
              </div>
              <div class="clearfix"></div>
              <div class="row">{% include clientes.html %}</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <!-- Testimonials Widget Start -->
              <div class="row">{% include avaliacoes.html %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Our Clients End -->