<!-- Latest Posts start -->
<div class="latest-posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
          <h3 class="title">Vídeos</h3>
        </div>
        <div class="clearfix"></div>
        <div class="blog-showcase col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1">
              {% include videos.html %}
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="divider"></div>
    </div>
</div>
<!-- Latest Posts End -->