<!-- Recent works start-->
<div class="recentworks bottom-pad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 animate_afl d1">
          <div class="portfolio-desc">
            <h3 class="title">Trabalhos Recentes</h3>
            <p>
              Confira algumas imagens dos nossos projetos desenvolvidos para diversos tipos de ambientes: auditório, sala de
              mixagem, estúdio musical, rádios e sala de vídeo-conferência.
            </p>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
          <div class="row">
            <div id="portfolio-carousel" class="portfolio-carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                          {% include portifolio_0.html %}
                </div>
                      <div class="item">
                          {% include portifolio_1.html %}
                </div>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Recent work end-->