{% for i in (7...9) %}
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d2">
  <div class="portfolio-item">
      <a
        href="{{ site.baseurl }}/img/portifolio/{{ i }}.jpg"
        class="portfolio-item-link"
        data-rel="prettyPhoto"
      >
        <span class="portfolio-item-hover"></span>
        <span class="fullscreen"><i class="fa fa-search"></i></span>
        <img
          src="{{ site.baseurl }}/img/portifolio/{{ i }}.jpg"
          alt=" "
          class=""
        />
      </a>
      <div class="clearfix"></div>
  </div>
</div>
{% endfor %}