<ul>
    {% for video in site.data.videos %}
    <li class="">
      <div class="blog-showcase-thumb col-lg-4">
        <div class="post-body">
          <a
            class="post-item-link"
            href="https://www.youtube.com/watch?v={{ video.id }}"
            data-rel="prettyPhoto"
            ><span class="post-item-hover"></span
            ><span class="fullscreen"><i class="fa fa-search"></i></span
            ><img
              alt=""
              src="https://img.youtube.com/vi/{{ video.id }}/0.jpg"
          /></a>
        </div>
      </div>
      <div class="blog-showcase-extra-info col-lg-4">
        <h4><a href="https://www.youtube.com/watch?v={{ video.id }}" class="title">{{ video.titulo }}</a></h4>
        <a href="https://www.youtube.com/watch?v={{ video.id }}">Veja na íntegra <i class="fa fa-angle-double-right"></i></a>
      </div>
    </li>
    {% endfor %}
</ul>

<!--
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d2">
    <div class="portfolio-item">
        <a href="https://www.youtube.com/watch?v={{ video.id }}" target="_blank"><img src="https://img.youtube.com/vi/{{ video.id }}/0.jpg" alt="{{ video.titulo }}"></a>

        <div class="portfolio-item-title">
            <a href="https://www.youtube.com/watch?v={{ video.id }}" target="_blank">{{ video.titulo }}</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
-->
