---
layout: default
---
<!-- Title, Breadcrumb Start-->
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">Blog</h2>
         </div>
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
               <ul>
                  <ul>
                     <li>Você está aqui:</li>
                     <li><a href="{{ site.baseurl }}/">Início</a></li>
                     <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                     <li>{{ page.title | truncate: 30 }}</li>
                  </ul>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Title, Breadcrumb End-->

<!-- Main Content start-->
<div class="content">
   <div class="container">
   <div class="container">
      <div class="row">
         <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <article>
               <h3 class="title">{{ page.title }}</h3>
               <div class="post-content">
                  {{ content }}
               </div>
            </article>
         </div>
      </div>
      <div class="divider"></div>
   </div>
   </div>
</div>
<!-- Main Content end-->
